name: Build, run all tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version: ^1.25
        id: go

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          args: --timeout=5m
          version: latest
          only-new-issues: true

      - name: Get and verify dependencies
        run: go mod download && go mod verify

      - name: Install mockgen
        run: go install go.uber.org/mock/mockgen@latest

      - name: Run go generate
        run: go generate ./...

      - name: Check for uncommitted changes
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "There are uncommitted changes after running 'go generate':"
            echo "Run go generate ./... locally then commit again"
            git status
            git diff
            exit 1
          else
            echo "No changes detected after running 'go generate'"
          fi
